<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div class="main-bg">
    <video autoplay muted loop id="myVideo">
      <source src="./assets/images/bg-main.mp4" type="video/mp4">
    </video>
  </div>
  <div fxFill fxLayoutAlign="center start">
    <div class="card-container" fxLayout="column">
      <div class="header" fxLayoutAlign="center center">
        <h1>
          RICOFIT.RU
        </h1>
      </div>
      <div class="information" fxLayout="column" fxLayoutAlign="center center">
        <h2> Анализируем таможенную статистику </h2>
        <h3> Рекомендательный сервис по выявлению перспективных производственных ниш на основе таможенной статистики </h3>
      </div>
    </div>
  </div>
</div>
