<div fxFill fxLayout="column" fxLayoutAlign="start center" class="default-page">
  <mat-card fxLayout="column" class="login-card" fxLayoutGap="16px">
    <form fxLayout="column" [formGroup]="formGroup" (ngSubmit)="send()">
      <mat-card-title style="margin: 0 auto"> Вход </mat-card-title>
      <mat-form-field>
        <mat-label> Логин </mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Пароль </mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </form>
    <mat-checkbox [(ngModel)]="isRegistration"> Хочу создать аккаунт</mat-checkbox>
    <div fxLayoutAlign="center center" fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="submit()"> Войти </button>
    </div>
  </mat-card>
</div>
