$accent-palette: (
  50 : #e7f4eb,
  100 : #c2e3ce,
  200 : #9ad0ad,
  300 : #71bd8c,
  400 : #52af73,
  500 : #34a15a,
  600 : #2f9952,
  700 : #278f48,
  800 : #21853f,
  900 : #15742e,
  A100 : #abffbe,
  A200 : #78ff97,
  A400 : #45ff70,
  A700 : #2bff5c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary-palette: (
  50 : #fde2e7,
  100 : #fab7c2,
  200 : #f78799,
  300 : #f45770,
  400 : #f13352,
  500 : #ef0f33,
  600 : #ed0d2e,
  700 : #eb0b27,
  800 : #e80820,
  900 : #e40414,
  A100 : #ffffff,
  A200 : #ffd8da,
  A400 : #ffa5a9,
  A700 : #ff8b91,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
